<div class="container">
<h3>
Doula Services
</h3>
<%#
<div class="doula-services">
<h3>

</h3>
<ul>
  <li>
    A free, no obligation phone call and meeting to see if I am the right doula for you.
  </li>
  <li>
    Doula on call for labor 24/7 starting at 38 weeks.
  </li>
  <li>
    Free pictures of your birth.
  </li>
  <li>
    Phone and email support from the time services are contracted to SIX weeks post-partum.
  </li>
  <li>
    Access to my lending library which includes: pregnancy, birth, breastfeeding, and parenting books and DVDs.
  </li>
  <li>
    Basic Birth Choices Information Packet.
  </li>
  <li>
    Taking Blissborn childbirth education classes is highly recommended, especially for first time moms and VBACs
  </li>
</ul> %>
<div class="card mt-3">
  
  <div class="card-body">
    <h5 class="card-title">  All Packages Include:</h5>
    <p class="card-text"></p>
    <ul>
  <li class="list-group-item">
    A free, no obligation phone call and meeting to see if I am the right doula for you.
  </li>
  <li class="list-group-item">
    Doula on call for labor 24/7 starting at 38 weeks.
  </li>
  <li class="list-group-item">
    Free pictures of your birth.
  </li>
  <li class="list-group-item">
    Phone and email support from the time services are contracted to SIX weeks post-partum.
  </li>
  <li class="list-group-item">
    Access to my lending library which includes: pregnancy, birth, breastfeeding, and parenting books and DVDs.
  </li>
  <li class="list-group-item">
    Basic Birth Choices Information Packet.
  </li>
  <li class="list-group-item">
    Taking Blissborn childbirth education classes is highly recommended, especially for first time moms and VBACs
  </li>
</ul>

  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
    Labor Only Package (for hospital births only)
  </div>
  <div class="card-body">
    <h5 class="card-title"> Recommended for women giving birth at the hospital desiring only labor support at the home and a post-partum visit.</h5>
    <p class="card-text"></p>
    <ul>
          <li class="list-group-item">Two pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
          </li>
          <li class="list-group-item">Labor support for the entire time you need labor support at home and until you are ready to go the hospital. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
          </li>
          <li class="list-group-item">One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
          </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $1050</a>
  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
    Home Birth Package
  </div>
  <div class="card-body">
    <h5 class="card-title"> Recommended for home birthers</h5>
    <p class="card-text"></p>
    <ul>
          <li class="list-group-item">        Two pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
          </li>
          <li class="list-group-item">Labor support for the entire time you need labor support at home and until you are ready to go the hospital. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
          </li>
          <li class="list-group-item">        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
          </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $1050</a>
  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
    Basic Hospital Birth Package
  </div>
  <div class="card-body">
    <h5 class="card-title"> Recommended for hospital* births</h5>
    <p class="card-text"></p>
   <ul>
          <li class="list-group-item">        Two pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
          </li>
          <li class="list-group-item">        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...


          </li>
          <li class="list-group-item"> One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.

          </li>
          <li class="list-group-item"> *This package requires client take Blissborn Chidlbirth Classes (group classes are $350) and a respectful care provider.


          </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $1050</a>
  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
     Basic Plus 1 Birth Package
  </div>
  <div class="card-body">
    <h5 class="card-title">   Recommended for hospital, home births for second time moms</h5>
    <p class="card-text"></p>
   <ul>
          <li class="list-group-item"> Three pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
          </li>
          <li class="list-group-item">        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...

          </li>
          <li class="list-group-item">        Two post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.

          </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $1350</a>
  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
     Premium Package
  </div>
  <div class="card-body">
    <h5 class="card-title"> Recommended for hospital births, first time moms and VBACs</h5>
    <p class="card-text"></p>
   <ul>
          <li class="list-group-item">                Three pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.

          </li>
          <li class="list-group-item">                Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...



          </li>
          <li class="list-group-item">         Two post-partum visits. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.


          </li>
          <li class="list-group-item">         Plus Two Additional 2 hour support visits (or classes) from the time services are contracted to SIX weeks post-partum.



          </li>
          <li class="list-group-item">   Includes Guided Pregnancy Meditation Session.



          </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $1650</a>
  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
      Empowered Birth Package
  </div>
  <div class="card-body">
    <h5 class="card-title"> Recommended for all women who want to create a deeper connection and awareness of the process pregnancy and birth</h5>
    <p class="card-text"></p>
   <ul>
        <li class="list-group-item">
        One pre-partum visit. This is to get to know each other and go over your birth plan, provide basic childbirth information, and support.
      </li>
      <li class="list-group-item">
        Six Custom and Private two hour pregnancy conscious and birth empowerment meetings which will consist of custom meditations, educational classes, videos, crafts and practice sessions...
      </li>
      <li class="list-group-item">
        In the meetings we will cover:
      </li>
      <li class="list-group-item">
        What is an Empowered Birth - Nurturing your Body and Baby
      </li>
      <li class="list-group-item">
        Connecting with your Baby and Body
      </li>
      <li class="list-group-item">
        Creating a Meditation Center; Meditation, Affirmations, Intentions
      </li>
      <li class="list-group-item">
        Empowered Birth Plan- Setting intentions and letting go of expectations
      </li>
      <li class="list-group-item">
        Empowered Labor and Birth Movements - Connecting with your partner/support person
      </li>
      <li class="list-group-item">
        After Birth- Caring for and connecting with your newborn and partner
      </li>
      <li class="list-group-item">
        This is a very special package. The act of becoming pregnant is intimate,  so is giving birth. With this package you won't just get doula support in the traditional sense, the private and custom meditation and childbirth education sessions will be more in depth and more empowering. They will teach you to connect with your body and your baby, how to listen to your instincts,  how to listen to your baby, and how to release resistance to reach a new level of awareness and conscious communication for you and your partner. You will learn that all you need is your body, trust in your instincts and the right care provider to birth the baby the way you desire. You will (re)discover instinctual positions to ease the birth of your baby and how to be the one to catch your own baby with your own hands and/or with the help of your partner. We will achieve this with custom and private meetings throughout your pregnancy, from the time your contract services until your birth and the post-partum period.
      </li>
      <li class="list-group-item">
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li class="list-group-item">
        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $2150</a>
  </div>
</div>
<div class="card mt-3">
   <div class="card-header">
      Empowered Hypnosis Birth Package
  </div>
  <div class="card-body">
    <h5 class="card-title"> Recommended for all women who want a natural and connected birth with the added benefit of self hypnosis.</h5>
    <p class="card-text"></p>
   <ul>
        <li class="list-group-item">
This package includes a modified version of the Empowered Birth Package with private Blissborn® classes; a wonderful, proven and tested, comprehensive 5 week (12-15 hour) program that provides tools of self awareness, deep connection, and self hypnosis to help create the birth you envision. Includes a professional childbirth education manual, printed materials, and several guided hypnosis recordings for use at home.      </li>
      <li class="list-group-item">
        Six Custom and Private two hour pregnancy conscious and birth empowerment meetings which will consist of custom meditations, educational classes, videos, crafts and practice sessions...
      </li>
      <li class="list-group-item">
        In the meetings we will cover:
      </li>
      
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted"></small></p></a>
    <a href="#" class="btn btn-primary mt-2">Price: $2625</a>
  </div>
</div>





 <%#
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">      Empowered Birth Package
      </h5>
      <p class="card-text">        Recommended for all women who want to create a deeper connection and awareness of the process pregnancy and birth


      </p>
       <ul class="list-group list-group-flush">
        <li class="list-group-item">
        One pre-partum visit. This is to get to know each other and go over your birth plan, provide basic childbirth information, and support.
      </li>
      <li class="list-group-item">
        Six Custom and Private two hour pregnancy conscious and birth empowerment meetings which will consist of custom meditations, educational classes, videos, crafts and practice sessions...
      </li>
      <li class="list-group-item">
        In the meetings we will cover:
      </li>
      <li class="list-group-item">
        What is an Empowered Birth - Nurturing your Body and Baby
      </li>
      <li class="list-group-item">
        Connecting with your Baby and Body
      </li>
      <li class="list-group-item">
        Creating a Meditation Center; Meditation, Affirmations, Intentions
      </li>
      <li class="list-group-item">
        Empowered Birth Plan- Setting intentions and letting go of expectations
      </li>
      <li class="list-group-item">
        Empowered Labor and Birth Movements - Connecting with your partner/support person
      </li>
      <li class="list-group-item">
        After Birth- Caring for and connecting with your newborn and partner
      </li>
      <li class="list-group-item">
        This is a very special package. The act of becoming pregnant is intimate,  so is giving birth. With this package you won't just get doula support in the traditional sense, the private and custom meditation and childbirth education sessions will be more in depth and more empowering. They will teach you to connect with your body and your baby, how to listen to your instincts,  how to listen to your baby, and how to release resistance to reach a new level of awareness and conscious communication for you and your partner. You will learn that all you need is your body, trust in your instincts and the right care provider to birth the baby the way you desire. You will (re)discover instinctual positions to ease the birth of your baby and how to be the one to catch your own baby with your own hands and/or with the help of your partner. We will achieve this with custom and private meetings throughout your pregnancy, from the time your contract services until your birth and the post-partum period.
      </li>
      <li class="list-group-item">
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li class="list-group-item">
        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
        </ul>
      <a href="#" class="card-link"><p class="card-text"><small class="text-muted">Price: $2150</small></p></a>
    </div>
  </div>
  
  </div>
  
  
 <div class="card" style="width: 18rem;"> 
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


      <h4>
     
    </h4>
    <ul>
      <li>
        Recommended for women giving birth at the hospital desiring only labor support at the home and a post-partum visit.
      </li>
      <li>
        Two pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
      </li>
      <li>
        Labor support for the entire time you need labor support at home and until you are ready to go the hospital. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li>
        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
      <li>
        Price: $1050
      </li>
    </ul>


 
      <h4>
      Home Birth Package
    </h4>
    <ul>
      <li>
        Recommended for home birthers
      </li>
      <li>
        Two pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
      </li>
      <li>
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li>
        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
      <li>
        Price: $1050
      </li>
    </ul>



      <h4>
      Basic Hospital Birth Package
    </h4>
    <ul>
      <li>
        Recommended for hospital* births
      </li>
      <li>
        Two pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
      </li>
      <li>
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li>
        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
      <li>
        *This package requires client take Blissborn Chidlbirth Classes (group classes are $350) and a respectful care provider.
      </li>

      <li>
        Price: $1050
      </li>
    </ul>



     <h4>
      Basic Plus 1 Birth Package
    </h4>
    <ul>
      <li>
        Recommended for hospital, home births for second time moms
      </li>
      <li>
        Three pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
      </li>
      <li>
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li>
        Two post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>

      <li>
        Price: $1350
      </li>
    </ul>



      <h4>
      Premium Package
    </h4>
    <ul>
      <li>
        Recommended for hospital births, first time moms and VBACs
      </li>
      <li>
        Three pre-partum visits. This is to get to know each other and go over your birth plan, provide basic childbirth information, basic comfort measures, and support.
      </li>
      <li>
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li>
        Two post-partum visits. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
      <li>
        Plus Two Additional 2 hour support visits (or classes) from the time services are contracted to SIX weeks post-partum.
      </li>
      <li>
        Includes Guided Pregnancy Meditation Session.
      </li>
      <li>
        Price: $1650
      </li>
    </ul>



        <h4>
      Empowered Birth Package
    </h4>
    <ul>
      <li>
        Recommended for all women who want to create a deeper connection and awareness of the process pregnancy and birth
      </li>
      <li>
        One pre-partum visit. This is to get to know each other and go over your birth plan, provide basic childbirth information, and support.
      </li>
      <li>
        Six Custom and Private two hour pregnancy conscious and birth empowerment meetings which will consist of custom meditations, educational classes, videos, crafts and practice sessions...
      </li>
      <li>
        In the meetings we will cover:
      </li>
      <li>
        What is an Empowered Birth - Nurturing your Body and Baby
      </li>
      <li>
        Connecting with your Baby and Body
      </li>
      <li>
        Creating a Meditation Center; Meditation, Affirmations, Intentions
      </li>
      <li>
        Empowered Birth Plan- Setting intentions and letting go of expectations
      </li>
      <li>
        Empowered Labor and Birth Movements - Connecting with your partner/support person
      </li>
      <li>
        After Birth- Caring for and connecting with your newborn and partner
      </li>
      <li>
        This is a very special package. The act of becoming pregnant is intimate,  so is giving birth. With this package you won't just get doula support in the traditional sense, the private and custom meditation and childbirth education sessions will be more in depth and more empowering. They will teach you to connect with your body and your baby, how to listen to your instincts,  how to listen to your baby, and how to release resistance to reach a new level of awareness and conscious communication for you and your partner. You will learn that all you need is your body, trust in your instincts and the right care provider to birth the baby the way you desire. You will (re)discover instinctual positions to ease the birth of your baby and how to be the one to catch your own baby with your own hands and/or with the help of your partner. We will achieve this with custom and private meetings throughout your pregnancy, from the time your contract services until your birth and the post-partum period.
      </li>
      <li>
        Labor support for the entire time you are in labor until 1-2 hours after birth and/or until breastfeeding is established. Including massage, positions to aid the progress of labor, guided imagery, relaxation, support for the birth partner...
      </li>
      <li>
        One post-partum visit. This is to go over the birth experience and to help with any breastfeeding questions and/or other concerns, and for general support.
      </li>
      <li>
        Price: $2150
      </li>
    </ul>

   %>

<div class="card mt-3">
  
  <div class="card-body">
    <h5 class="card-title"> ADD ONS:</h5>
    <p class="card-text"></p>
    <ul>
  <li class="list-group-item">
    Blissborn® Childbirth Education Hypnosis Classes: $350 group, $650 private
  </li>
  <li class="list-group-item">
    Waterbirth Pool Rental: $300
  </li>
  <li class="list-group-item">
    Placenta Encapsulation: $300
  </li>
  <li class="list-group-item">
    Professional Birth Photography: $100-$800
  </li>
  <li class="list-group-item">
    Belly Binding: $125
  </li>
  <li class="list-group-item">
    Post-Partum Support: $30/hr
  </li>
</ul>

  </div>
</div>
     

<br/>
<p>Should your insurance company cover Doula services, you will be given the National Provider Identifier (NPI), which allows insurance companies to provide you with reimbursement. You may also use your employee Flex Spending Account, or HSA account to pay for services. <br/>

Payment arrangements can be made. 
A Loving Birth is always willing to help parents who show a financial need.
Please call for a no obligation consultation if you have any questions and are looking for information and support of any kind. <br/>

Zeresh, owner of A Loving Birth has been a doula since 2008, and supported hundreds of couples on their journey to parenthood. In addition, she has attended many continuing education classes, has the support of wonderful midwife mentors, and organizes  international trainings for midwives in Spain. Her passion drives her thirst for knowledge and continuous desire to improve her doula skills. Please see the Intro tab to learn more about her, her training and mentors. </p>





</div>