
  <!-- Main Content -->
  <div class="container">
    <div class="row">
     <% @posts.each do |post| %>
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              <%= link_to post_path(post) do %>
              <%= post.title %>
                <%= image_tag post.image.url, class: "img-fluid rounded" %>
                <% end %>
            </h2>
            <h3 class="post-subtitle">
           
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a> on
            <%= "#{post.created_at.strftime("%m/%d/%y")}" %></p>
        </div>
        <!-- Pager -->
     
      </div>
      <% end %>
        
    </div>
     <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
  </div>

  <hr>

  



